body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.content {
    position: relative;
    flex-grow: 1;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-family: 'Brush ScriptM7', Lucida Impact;
    margin-top: -110px;
    background-image: url('images/6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}



.content p {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding: 20px;
    font-style: italic;
    margin-top: 20px;
    z-index: 3;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    font-size: 25px;
    font-weight: bold;
    
}

.navbar a {
    text-decoration:navy;
    margin: 0 10px;
    color: blue;
    transition: color 0.3s;
    display: inline-block;
    padding: 5px 10px;
  
}

.navbar a:hover {
    color: blueviolet;
}



.frame {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 3;
}

.frame1 img,
.frame2 img {
    max-width: 32%;
    border-radius: 40%;
}

.frame2 {
    left: 360px;
}
